# Ignore Rails logs
/log/*
!/log/.keep

# Ignore temporary files
/tmp/*
!/tmp/.keep
!/tmp/pids/
!/tmp/pids/.keep
!/tmp/storage/
!/tmp/storage/.keep

# Ignore local database files
/storage/*
!/storage/.keep

# Ignore Bundler configuration
/.bundle

# Ignore environment files
.env
.env.*

# Ignore macOS files
.DS_Store

# Ignore JavaScript dependencies
/node_modules
/yarn-error.log